@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-size: 14px;
	--fc-bg-event-opacity: 0.5;
}

.fc-license-message {
	display: none !important;
}

.fc .fc-scrollgrid table {
	position: relative;
}

.fc-media-screen {
	height: 100vh;
}

thead[role=presentation] {
	position: sticky;
	top: 0;
	left: 0;
	background: #fff;
}